{% extends 'base.html' %}
{% block title %}Edit Profile Page{% endblock %}
{% block content %}


{% if user.is_authenticated %}

    {% if user.if == profile.user.id %}

        <h1>Edit Profile Page...</h1>
        <br><br>
        <div class="form-group">
            <form method="POST" enctype="multipart/form-data">

                {% csrf_token %}
                
                {{ form.as_p}}  <!--Расположить формы по тэгу p -->
                <button class="btn btn-primary">Edit Profile Page</button>
            </form>
        </div>

    {% else %}

    You are not correct user to edit this profile

    {% endif %}

{% else %}

You are not allowed here!

{% endif %}

{% endblock %}